h1{
    padding: 10px 0px;
}

.container {
    width: 80%;
    display: block;
    margin: 0px auto;
}

h2{
    padding-top: 0px;
    margin-top: 7px;
    display: inline;
}

span {
    background-color: aliceblue;
    padding: 3px 13px;
    border-radius: 19px;
    margin-left: 15px;
}
.blog{
    width: 60%;
}